nav.navbar.navbar-default
        .container
            .navbar-header
                .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
                    ul.nav.navbar-nav
                        li: a(href="#") About the series
                        li: a(href="#") Favourite moments
                        li: a(href="#") Characters
                        li: a(href="#") Contacts