extends ./layout.jade

block content
    img(src="http://media.animevice.com/uploads/0/4479/225254-luffystrikes.png")
    h2 Luffy hits a Celestial Dragon!
    h4 Description
    p.
        A shot meant for Hatchan is fired by Charloss.  
        Luffy halts and turns while Keimi looks on in horror as Hatchan collapse. 
        Charloss jumps around, proud of the fact that he shot a fishman. 
        The crowd is relieved while Charloss revels in the fact that he has just gotten a slave for free. 
        Luffy stalks towards him angrily but is stopped by Hatchan, who reminds him of 
        the promise he made: not to touch the Celestial Dragons even if someone was shot right before him.
        Hatchan states that he deserves it since he did awful things in the past. He apologies to Luffy 
        and says that he never wanted things to turn out this way, explaining that he just wanted to make 
        amends to Nami for his past actions. Nami is surprised at this revelation while Hatchan continues 
        apologizing profusely. Charloss is irked by Hatchan and prepares to fire another shot. Luffy stares 
        at him angrily and head towards him. Pappug shouts for Luffy to stop but his words are unheeded. 
        Charloss fires two shots, which are dodged by Luffy with ease. Within reach, Luffy punches Charloss, 
        sending him flying.
    

