extends ./layout.jade

block content
    .col-md-3.col-sm-4.col-xs-12 
        .thumbnail
            img(src="images/fav-moment-1.png")
            .caption
                p: a(href="moment") Luffy hits a Celestial Dragon!
    .col-md-3.col-sm-4.col-xs-12 
        .thumbnail
            img(src="images/fav-moment-2.png")
            .caption
                p: a(href="#") Strawhat Crew Declares War Against the World Government
    .col-md-3.col-sm-4.col-xs-12 
        .thumbnail
            img(src="images/fav-moment-3.jpg")
            .caption
                p: a(href="#") Zoro takes Luffy's pain
    .col-md-3.col-sm-4.col-xs-12 
        .thumbnail
            img(src="images/fav-moment-4.jpg")
            .caption
                p: a(href="#") Straw Hats' walk to Arlong Park
    .col-md-3.col-sm-4.col-xs-12 
        .thumbnail
            img(src="images/fav-moment-5.jpg")
            .caption
                p: a(href="#") Ace's Death
    .col-md-3.col-sm-4.col-xs-12 
        .thumbnail
            img(src="images/fav-moment-6.png")
            .caption
                p: a(href="#") Going Merry's funeral
    .col-md-3.col-sm-4.col-xs-12 
        .thumbnail
            img(src="images/fav-moment-7.jpg")
            .caption
                p: a(href="#") Shanks on Whitebeard's ship
    .col-md-3.col-sm-4.col-xs-12 
        .thumbnail
            img(src="images/fav-moment-8.JPG")
            .caption
                p: a(href="#") Luffy Vs Usopp
                
                