doctype html
html(lang="en")
  head
    title One Fuckin Piece
    link(rel="stylesheet", type="test/css", href="lib/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", type="test/css", href="lib/font-awesome/css/font-awesome.css")
    link(rel="stylesheet", type="test/css", href="css/index.css")
  body
    include ./partials/nav.jade   
    .container-fluid
        img#banner(src="images/one_piece_banner.jpg", width="1000")

    .container-fluid
        .row
            .col-xs-3
                include ./partials/sidebar.jade
            .col-xs-9
                block content
