/*general styling*/

a {
    color: #2F343A;
}

    a:hover {
        text-decoration: none;
    }

body {
    background-color: #DDDDDD;
}

/*banner*/

#banner {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

/*nav-bar*/


.navbar.navbar-default {
    background-color: #2F343A;
    margin-bottom: 10px;
}

.navbar-default .navbar-brand {
    color: #DDDDDD;
}

/*gallery thumbnails*/

.thumbnail {
    height: 220px;
    overflow: auto;
}