nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a(href="/").navbar-brand Bootstrap Shop
            ul.nav.navbar-nav.navbar-right
                li: a(href="cart")
                    i.fa.fa-shopping-cart  View Cart
