doctype html
html(lang="en")
  head
    title Bootstrap Shop
    link(rel="stylesheet", type="test/css", href="lib/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", type="test/css", href="lib/fontawesome/css/font-awesome.css")
  body
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a(href="/").navbar-brand Bootstrap Shop            

    .container-fluid
        .row
            .col-xs-3
                ul.nav.nav-pills.nav-stacked
                    li: a(href="#") Чушки
                    li: a(href="#") Praseta 
                    li: a(href="#") Apple Karuci
                    li: a(href="#") Stupid Watches
                    li.active: a(href="#") Medivial Weapons
                    //- : -> slagame nov element na syshtiq red
            .col-xs-9
                .row
                    .col-md-3.col-sm-4.col-xs-12 
                        .thumbnail
                            img(src="https://findnearest.com/image/clients/doge.jpg")
                            .caption
                                h3 Doge
                                p wow, such website, much design
                    .col-md-3.col-sm-4.col-xs-12 
                        .thumbnail
                            img(src="https://findnearest.com/image/clients/doge.jpg")
                            .caption
                                h3 Doge
                                p wow, such website, much design
                    .col-md-3.col-sm-4.col-xs-12 
                        .thumbnail
                            img(src="https://findnearest.com/image/clients/doge.jpg")
                            .caption
                                h3 Doge
                                p wow, such website, much design
                    .col-md-3.col-sm-4.col-xs-12 
                        .thumbnail
                            img(src="https://findnearest.com/image/clients/doge.jpg")
                            .caption
                                h3 Doge
                                p wow, such website, much design
                    .col-md-3.col-sm-4.col-xs-12 
                        .thumbnail
                            img(src="https://findnearest.com/image/clients/doge.jpg")
                            .caption
                                h3 Doge
                                p wow, such website, much design
                    .col-md-3.col-sm-4.col-xs-12 
                        .thumbnail
                            img(src="https://findnearest.com/image/clients/doge.jpg")
                            .caption
                                h3 Doge
                                p wow, such website, much design
                    .col-md-3.col-sm-4.col-xs-12 
                        .thumbnail
                            img(src="https://findnearest.com/image/clients/doge.jpg")
                            .caption
                                h3 Doge
                                p wow, such website, much design
                    .col-md-3.col-sm-4.col-xs-12 
                        .thumbnail
                            img(src="https://findnearest.com/image/clients/doge.jpg")
                            .caption
                                h3 Doge
                                p wow, such website, much design