extends ./layout.jade

block content
    .col-md-3.col-sm-4.col-xs-12 
        .thumbnail
            img(src="https://findnearest.com/image/clients/doge.jpg")
            .caption
                h3: a(href='/product') Doge
                p wow, such website, much design
    .col-md-3.col-sm-4.col-xs-12 
        .thumbnail
            img(src="https://findnearest.com/image/clients/doge.jpg")
            .caption
                h3: a(href='/product') Doge
                p wow, such website, much design
    .col-md-3.col-sm-4.col-xs-12 
        .thumbnail
            img(src="https://findnearest.com/image/clients/doge.jpg")
            .caption
                h3: a(href='/product') Doge
                p wow, such website, much design
    .col-md-3.col-sm-4.col-xs-12 
        .thumbnail
            img(src="https://findnearest.com/image/clients/doge.jpg")
            .caption
                h3: a(href='/product') Doge
                p wow, such website, much design
    .col-md-3.col-sm-4.col-xs-12 
        .thumbnail
            img(src="https://findnearest.com/image/clients/doge.jpg")
            .caption
                h3: a(href='/product') Doge
                p wow, such website, much design
    .col-md-3.col-sm-4.col-xs-12 
        .thumbnail
            img(src="https://findnearest.com/image/clients/doge.jpg")
            .caption
                h3: a(href='/product') Doge
                p wow, such website, much design
    .col-md-3.col-sm-4.col-xs-12 
        .thumbnail
            img(src="https://findnearest.com/image/clients/doge.jpg")
            .caption
                h3: a(href='/product') Doge
                p wow, such website, much design
    .col-md-3.col-sm-4.col-xs-12 
        .thumbnail
            img(src="https://findnearest.com/image/clients/doge.jpg")
            .caption
                h3: a(href='/product') Doge
                p wow, such website, much design