doctype html
html(lang="en")
  head
    title Bootstrap Shop
    link(rel="stylesheet", type="test/css", href="lib/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", type="test/css", href="lib/fontawesome/css/font-awesome.css")
  body
   
    //- content

    //- header / navbar
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a(href="/").navbar-brand Bootstrap Blog            

    .container-fluid
        .row
            .col-xs-3
                ul.nav.nav-pills.nav-stacked
                    li: a(href="#") Чушки
                    li: a(href="#") Praseta 
                    li: a(href="#") Apple Karuci
                    li: a(href="#") Stupid Watches
                    li.active: a(href="#") Medivial Weapons
                    //- : -> slagame nov element na syshtiq red
            .col-xs-9
                .row
                    .col-md-3.col-sm-4.col-xs-12 item 1
                    .col-md-3.col-sm-4.col-xs-12 item 2
                    .col-md-3.col-sm-4.col-xs-12 item 3
                    .col-md-3.col-sm-4.col-xs-12 item 4
                    .col-md-3.col-sm-4.col-xs-12 item 5
                    .col-md-3.col-sm-4.col-xs-12 item 6
                    .col-md-3.col-sm-4.col-xs-12 item 7
                    .col-md-3.col-sm-4.col-xs-12 item 8