extends ./layout.jade

block content
    //- .col-md-3.col-sm-4.col-xs-12 
    .col-md-3.col-sm-4.col-xs-12
        img(src="https://findnearest.com/image/clients/doge.jpg")
        h3 Product Doge
        p Wow, such website, much design, very response
        p 9999$
        button.btn.btn-success Buy doge