body {
    font: 14px/24px Courier New; 
}

a {
    text-decoration: none;
    color: #330000;
}

img {
    height: 300px;
    width: auto;
}

header {
    background: #3399CC;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    height: 60px;
}

    header h1 {
        font-size: 32px;
        margin: 0px;
        margin-left: 20px; 
        padding: 0px;
        height: 60px;
        line-height: 60px;
    }

section#content {
    padding-top: 70px;
    width: 70%;
    height: 100%;
    display: block;
}

.sidebar {
    background: #3399CC;
    width: 20%;
    height: 100%;
    display: inline-block;
    position: fixed;
    top: 44px;
    right: 0;
    bottom: 0;
    padding: 10px;  
    list-style: none; 
}