html
  head
    title!= name
    link(rel="stylesheet", href="css/index.css")
  body
    #container
      #blog-title
        h1#title!= title
        img(src="http://assets.rollingstone.com/assets/images/album_review/run-the-jewels-cover-1373904337.jpg")

      #blog-navigation
        ul
          li 
            a(href="#") home
          li 
            a(href="#") about
          li 
            a(href="#") contacts

      .post-info
         h3 Post title

         p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

         .post-link
           a(href="post") Bring the post

      .post-info    
         h3 Another post title

         p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

         .post-link
            a(href="post") Bring the other post

    #footer
      p kinda cool footer
