html
  head
    title My shopping site
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body
    header
        h1: a(href="/") This is my shopping site, yey!
        ul.sidebar
            li About the shop
            li Contacts 
            li Delivery
            li FAQ    
    section#content
        block content