html
  head
    title My shopping site
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body
    header
        h1: a(href="/") This is my shopping site, yey!
        ul.sidebar
            li
                a(href='#') About the shop
            li 
                a(href='#') Contacts 
            li 
                a(href='#') Delivery
            li 
                a(href='#') FAQ  
    section#content
        block content